/* Font -------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body,
input,
button,
textarea,
select {
    font: 16px 'Roboto', sans-serif;
}

/* Layout ------------------------------------------------------------------ */

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid: auto auto 1fr auto / auto;
}

header,
footer {
    padding: 10px 50px;
    background: #ccc;
}

 header h1 {
    margin: 0;
    padding-left: 40px;
    background: url(/images/favicon.png) no-repeat left / 36px;
}

header a {
    color: inherit;
    text-decoration: none;
}

nav {
    padding: 0 50px;
    background: #999;
    display: flex;
}

nav a {
    padding: 5px 10px;
    color: #fff;
    background: #666;
    text-decoration: none;
    white-space: nowrap;
}

nav a:hover {
    background: #333;
}

main {
    padding: 20px 50px;
}

main h1 {
    margin-top: 0;
}

/* Pager */
nav.pager {
    padding: 0;
    background: transparent;
}

nav.pager a {
    outline: 1px solid #333;
}

nav.pager a.active {
    background: #333;
}

/* input[type="text"], input[type="password"], input[type="email"] {
    width: 350px;
    padding: 5px;
    border: 1px solid #333;
} */

/* Table ------------------------------------------------------------------- */

.table {
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #333;
    padding: 5px;
}

.table th {
    color: #fff;
    background: #666;
}

.table tr:hover td {
    background: #ccc;
}

.table td:last-child {
    position: relative;
}

.table .popup {
    position: absolute;
    top: 50%;
    left: 100%;
    translate: 5px -50%;
    z-index: 999;
    border: 1px solid #333;
    display: none;
}

.table tr:hover .popup {
    display: block;
}

.err {
    color: red;
    font-size: 0.9em;
}

.detail th {
    text-align: left;
}

/* Sorting */
.table th a {
    color: inherit;
    display: block;
}

.table th a.asc::after {
    content: ' ▴';
}

.table th a.desc::after {
    content: ' ▾';
}

/* Flash Message ----------------------------------------------------------- */

#info {
    position: fixed;
    color: #fff;
    background: #666;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px 20px;
    left: 50%;
    translate: -50% 0;
    z-index: 999;

    top: -100px;
    opacity: 0;
}

#info:not(:empty) {
    animation: fade 5s;
}

@keyframes fade {
      0% { top: -100px; opacity: 0; }
     10% { top:  100px; opacity: 1; }
     90% { top:  100px; opacity: 1; }
    100% { top: -100px; opacity: 0; }
}

/* admin_products */
.form-container {
    display: flex; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto; /* Enable scroll if needed */
}

.gadgetInfo {
    width: 400px;
    max-width: 90%;
    background-color: #fefefe;
    padding: 30px;
    border-radius: 15px;
    text-align: left;
    color: #333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.form-container img, .upload {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #333;
    cursor: pointer;
    margin: 5px auto; 
}

/* save button */
.input-container {
    display: flex;
    align-items: center;
}

.edit-input {
    flex-grow: 1;
    margin-right: 5px;
}

.save-btn, .cancel-btn {
    margin-left: 5px;
    padding: 2px 5px;
}

label.upload img {
    display: block;
    border: 1px solid #333;
    width: 200px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}